* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: sans-serif;
  /* background-image: url("../assets/netflix background.jpg"); */
  /* z-index: -1; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

/* Header section begins here*/
.header-section {
  background: linear-gradient(45deg, black, gray, silver);
  height: 85px;
}
.header-container {
  display: flex;
  height: 100%;
  width: 94%;
  max-width: 1830px;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  flex-grow: 2;
}
#logo {
  height: 100%;
}
.lang-signin-container {
  display: flex;
  flex-grow: 8;
  justify-content: flex-end;
}
.language-container {
  display: flex;
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px gray solid;
  padding: 2px 5px;
  border-radius: 5px;
}
.globe-icon-container {
  flex-grow: 2;
  margin: auto 0;
  background-color: white;
  border-radius: 50%;
}
#globe-icon {
  width: 16px;
}
.language-selection-container {
  flex-grow: 6;
  position: relative;
  margin: auto 5px;
  list-style: none;
  color: white;
}
.dropdown {
  position: absolute;
  top: 30px;
  cursor: default;
}
.dropdown ul {
  background-color: white;
  list-style: none;
  margin-left: -21px;
  padding-right: 21px;
}
.dropdown ul li {
  padding-right: 23px;
}
.dropdown ul li:hover {
  background-color: gray;
  list-style: none;
  padding-left: 23px;
  margin-right: -21px;
}
.drop-icon-container {
  flex-grow: 2;
  margin: auto 0;
}
#drop-icon {
  width: 20px;
}

.sign-in-container {
  background-color: rgb(240, 39, 39);
  color: white;
  border-radius: 4px;
  height: 32px;
  width: 75px;
  margin: auto 0;
  display: flex;
  margin-left: 20px;
}
.sign-in-container:hover {
  background-color: rgb(220, 39, 39);
  cursor: pointer;
}
.sign-in-container p {
  margin: auto;
}

@media screen and (max-width: 600px) {
  .selection {
    display: none;
  }

  .dropdown ul {
    color: black;
  }
}

@media screen and (min-width: 960px) {
  #logo {
    height: 150px;
    margin-top: -34px;
  }
}

.hidden {
  display: none;
}
/* Header section ends here */

/* main section begins here */

/* hero section begins here */
.hero-section {
  background: linear-gradient(45deg, gray, black, gray);
  color: white;
  display: flex;
  /* height: 550px; */
}
.hero-container {
  display: flex;
  justify-content: center;
  width: 94%;
  max-width: 1830px;
  margin: 30px auto;
}
.hero-content-container {
  padding: 3.75rem min(10%, 1rem) 3rem;
}

.hero-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.hero-sub-heading {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 40px;
}

/* Get started container */
.get-started-container {
  font-size: 20px;
}
.email-getstarted-container {
  display: flex;
  flex-direction: column;
}
.get-started-form {
  justify-content: center;
}
.form-message {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.email {
  border: 1px gray solid;
  border-radius: 5px;
  width: 100%;
  padding: 18px;
  background-color: rgba(0, 0, 0, 60%);
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}
.button {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  width: 150px;
  color: white;
  background-color: rgb(240, 39, 39);
  border-radius: 5px;
  margin-bottom: 10px;
}
.button:hover {
  background-color: rgb(220, 39, 39);
  cursor: pointer;
}
.button p {
  font-size: 17px;
  margin: auto 0px;
}
.button img {
  width: 13px;
  height: 23px;
  margin:auto 10px;
}

@media screen and (min-width: 600px) {
  .email-getstarted-container {
    flex-direction: row;
    margin-bottom: 15px;
  }
  .email {
    margin-bottom: 0px;
    flex:1;
    max-width: 250px;
  }
  .button {
    margin-bottom: 0px;
    margin-left: 10px;
    flex:1;
    max-width: 180px;
  }
  .button p{
    font-size: 25px;
  }
  .button img{
    width:20px;
  }
  .hero-content-container{
    padding: 3.75rem min(10%, 6rem) 4rem;
  }
  .hero-heading{
    width:66%;
  }
  .hero-sub-heading{
    width:66%;
  }
  .form-message{
    width:66%;
  }
}

@media screen and (min-width:960px){
    .hero-heading{
        font-size: 3rem;
        font-weight: 900;
    }
    .email{
        max-width: 400px;
    }
    
}

@media screen and (min-width:1280px){
    .hero-heading {
        font-size: 4rem;
        font-weight: 900;
      }
      .hero-sub-heading{
        font-size:1.5rem;
      }
}
@media screen and (min-width:1920px){
    .hero-heading{
        font-size: 5.5rem;
    }
    .hero-sub-heading{
        font-size: 2rem;
        font-weight: 700;
    }
}
/* hero section ends here */


/* cards section begins here */
.divider-section{
    background-color: black;
}
.divider-container{
    width:94%;
    margin:0px auto;
    max-width: 1830px;
}
.divider{
    background-color: darkslategray;
    height: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}
/* cards section */
.cards-section{
    color:white;
    background-color: black;
}
.card-container{
    width:94%;
    max-width: 1830px;
    margin: 0px auto;
    padding-top: 20px;
    padding:12px min(10%, 1rem);
}
.headings-media-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.description-container{
    display:flex;
    flex-direction: column;
    justify-content: center;    
}
.card-heading{
    font-size: 2rem;
    font-weight:700;
    margin-top:20px;
    
}
.card-sub-heading{
    font-size: 1rem;
    font-weight:400;
    margin-top:20px;

}

.media-container{
    margin-top:20px;
    position: relative;
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    height:70dvw;
}
.foreground-image{
    position: absolute;
    z-index: 1;
    width:100%;
    height:auto;
}
.background-video{
    position: absolute;
    width:80%;
    z-index: 0;
    margin-top:auto;
    margin-bottom:auto;
}
.rajma-chawal-vid{
  margin-top:-20%;
  width: 60%;
}
.foreground-container{
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0,90%);
  z-index: 2;
  height:20%;
  max-height: 100px;
  width:70%;
  max-width: 300px;
  margin-bottom: -60%;
  padding:1px;
  border: 2px gray solid;
  border-radius: 10px;
}
.sthings-image-container{
  flex-grow:1;
  display: flex;
  justify-content: center;
}
.sthings-image{
  width: auto;
  height: 90%;
  margin: auto 0px;
}
.sthings-text-container{
  flex-grow:8;
}
.sthings-text{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  margin-left: 10px;
}
.sthings-text :last-child{
  color:blue;
}
.sthings-gif-container{
  flex-grow:1;
  display: flex;
  justify-content: center;
}
.sthings-gif{
  width: auto;
  height: 60%;
  margin:auto 0px;
}
@media screen and (min-width:600px){
    .headings-media-container{
        flex-direction: row;
    }
    .description-container{
        width:50%; 
    }
    .media-container{
        flex-grow: 1;
        margin-top:0px;
    }
    .content-container{
        height: 30dvw;
        max-width: 30dvw;
    }
    .rev{
      flex-direction: row-reverse;
    }
}
@media screen and (min-width:960px){
  .sthings-text{
    font-size: 1rem;
  }
}
@media screen and (min-width:1280px){
    .card-heading{
        font-size: 3rem;
        font-weight: 900;
    }
    .card-sub-heading{
        font-size: 1.25rem;
        font-weight: 500;
    }
    .foreground-container{
      max-width: 500px;
    }
    .sthings-text{
      font-size: 1.5rem;
    }
}
@media screen and (min-width:1920px){
  .sthings-text{
    font-size: 1.6rem;
  }
  .content-container{
    height: 20dvw;
    max-width: 20dvw;
}
}
/* cards section ends here */

/* main section ends here */
